.header {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

.header-logo img {
  width: 250px;
  height: 250px;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 85%;
  }

  .header-logo {
    padding-right: 3rem;
  }

  .header-info {
    margin-left: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    width: 60%;
  }
}